<div>
  <h1>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum, facere!
  </h1>
  <article>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis ratione
      harum quibusdam minima suscipit vero, fugit laborum veritatis optio
      itaque. Quam maxime eum nulla, ullam sed, eius officia libero ducimus quo
      doloremque reprehenderit soluta fuga commodi consectetur doloribus
      incidunt itaque voluptatem inventore? Ullam quasi, laboriosam facilis est
      odio sed natus recusandae minus dignissimos! Velit et molestiae placeat
      repellendus odit ab nihil sint sapiente est? Earum, eligendi? Sunt
      molestias accusantium atque sapiente ipsa deserunt laudantium quas
      molestiae odit quos est numquam veritatis adipisci quia, qui velit quo vel
      temporibus aspernatur illum consequatur a eligendi suscipit nesciunt. Eius
      cupiditate atque alias illo?
    </p>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusantium
      suscipit eaque reiciendis molestiae aliquid consequatur nihil dolor
      exercitationem delectus? Facere error ipsum possimus odit delectus, ea
      quod corrupti sint laborum, aperiam quis dolore vero eos nemo odio sit
      fuga nesciunt soluta labore. Dolorem quos pariatur odio, saepe eveniet
      quaerat, sapiente dignissimos cum, deserunt consequuntur atque? Maxime
      modi magnam similique voluptates, minima iure dignissimos tempore eum
      commodi molestias doloremque quae quibusdam beatae tenetur, quaerat ipsum
      optio natus vero ratione! Earum, vel quisquam. Tenetur aliquid tempore
      saepe dicta, voluptatem quos. Doloremque eligendi, debitis, id ratione
      nihil unde perspiciatis voluptates sint deleniti sed maxime explicabo
      doloribus, tempora dolorem officiis eveniet quasi! Sapiente, quos
      assumenda dignissimos soluta atque fuga nesciunt similique laboriosam
      fugiat. Laudantium?
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum quidem
      error deserunt cupiditate iure maiores! Assumenda dolorem beatae officia
      neque unde fugit hic reprehenderit. Quisquam, necessitatibus aperiam ad
      doloribus tempora nesciunt voluptatum ratione alias. Rem, minima deserunt
      ullam libero voluptate facilis laboriosam in aliquid obcaecati
      necessitatibus dolore dolorum unde magni officiis sint debitis dolorem
      iure maiores iste incidunt maxime. Nemo voluptate excepturi
      necessitatibus? Modi voluptate quibusdam eos error, asperiores voluptatem
      qui optio neque, cupiditate officiis atque. Alias ut qui suscipit.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Error ratione
      dolorem libero culpa cum iusto perferendis, saepe voluptates enim quasi
      debitis sunt velit eveniet nostrum officia. Assumenda nam distinctio iste,
      illo accusantium officiis non inventore et praesentium quas iure numquam
      perferendis, culpa, autem pariatur tenetur explicabo sint. Ex consequuntur
      voluptates quibusdam. Aliquid dolorum nihil, tempora corrupti dicta
      reiciendis accusantium explicabo beatae suscipit facilis soluta? Dolorem
      eaque sapiente similique impedit voluptates hic, saepe explicabo! Neque
      totam maxime dicta repellat ducimus, similique perspiciatis at distinctio
      autem cum quas suscipit in, laboriosam, enim ut praesentium tempore quidem
      laborum nihil quia tempora eius fugiat tenetur ea. Nisi, quidem odit atque
      facere aspernatur doloremque asperiores libero explicabo quos magnam
      tenetur nesciunt, dicta distinctio placeat vero! Quod accusantium amet
      voluptas autem dicta quaerat ea totam inventore illo odit praesentium
      maxime a ipsa, in et veritatis qui ipsum voluptatum, dignissimos
      cupiditate soluta velit? Ad consequatur dolores culpa?
    </p>
  </article>

  <!--Mejorar CEO-->
  @defer (on viewport) {
  <app-comments></app-comments>
  } @placeholder {
  <p>...</p>
  } @loading {
  <p>Loading comments...</p>
  }
</div>
